.logo.nav-link {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo::before {
    content: "";
    background: url("../assets/logo-light.png");
    background-size: contain;
    width: 50px;
    height: 50px;
}

main {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
  background-color: rgba(0, 0, 0, 0.1);
}

.content {
  background-image: url("../assets/bgimg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  backdrop-filter: saturation(50%);
}

.bi {
    vertical-align: -.125em;
    pointer-events: none;
    fill: currentColor;
}

.btn-toggle::after {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform 0.35s ease;
  transform-origin: 0.5em 50%;
  rotate: 90deg;
  margin-left: 1rem;
}

.btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
}

.btn-toggle {
    display: inline-flex !important;
    align-items: center;
    padding: .25rem .5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, .65);
    background-color: transparent;
    border: 0;
}

.btn-toggle-nav a {
    display: inline-flex
;
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
    text-decoration: none;
}

.modal-overlay {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    background-color: #0000006b;
}

.modal-content.max-width {
    width: clamp(20%, 35%, 600px);
    background: #FFFFFF;
}

.btn-modal {
    width: 50%;
    margin-inline: auto;
}

.form-check-input[class*="priority-"][type=checkbox] {
    background-color: var(--checkbox-priority-opacity-color);
    border: 2px solid var(--checkbox-priority-color);
    border-radius: 50%;
}

.form-check-input[class*="priority-"]:checked {
    background-color: var(--checkbox-priority-color);
    border-color: var(--checkbox-priority-color);
}

.form-check-input[class*="priority-"]:focus {
    box-shadow: 0 0 0 .25rem var(--checkbox-priority-opacity-color);
    outline: 0;
}

.form-check-input.priority-high[type=checkbox] {
    --checkbox-priority-color: rgb(253, 13, 13);
    --checkbox-priority-opacity-color: rgba(253, 13, 13, .25);
}

.form-check-input.priority-medium[type=checkbox] {
    --checkbox-priority-color: rgb(255, 191, 0);
    --checkbox-priority-opacity-color: rgba(255, 191, 0, .25)
}

.form-check-input.priority-low {
    --checkbox-priority-color: rgb(158, 193, 171);
    --checkbox-priority-opacity-color: rgba(158, 193, 171, .25)
}

.hide {
    display: none;
}

.collapse:not(.show) {
    display: none !important;
}

a[aria-expanded="true"] .bi-chevron-double-right {
    transform: rotate(90deg);
}

.container .list-container:last-child {
    border-bottom: none !important;
}